{% extends 'base.html' %}

{% block opis %}
    <p>To jest OPIS pochodzący z pliku <b>add_director.html</b></p>
{% endblock %}

{% block zawartosc %}
    {% include 'movies/director_fields.html' %}
    <div>
        <h3>Lista reżyserów:</h3>
        <ul>
            {% for director in directors %}
                <li>{{ director.first_name }} {{ director.last_name }}
                    <a href="{% url 'usun_rezysera' director.pk %}"><button>Usuń</button></a>
                    <a href="{% url 'edytuj_rezysera' director.pk %}"><button>Edytuj</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}