<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <div>
        <h3>Aplikacja: movies</h3>
        {% include 'movies/director_links.html' %}
    </div>
    <div>
        {% block opis %}
            <p>W tym miejscu będzie znajdował się OPIS aplikacji movies</p>
        {% endblock %}
    </div>
    <div>
        {% block zawartosc %}
            <p>W tym miejscu będzie znajdowała się ZAWARTOŚĆ aplikacji movies</p>
        {% endblock %}
    </div>
</body>
</html>