{% extends 'base.html' %}

{% block zawartosc %}
    {% include 'books/add_form.html' %}
    <div>
        <ul>
            {% for publisher in publishers %}
                <li>
                    {{ publisher.name }} {{ publisher.year }}
                    <a href="{% url 'delete_publisher' publisher.pk %}"><button>Usuń</button></a>
                    <a href="{% url 'update_publisher' publisher.pk %}"><button>Edytuj</button></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
